<style data-teleport="head">
  .front-cover {
    margin: var(--margin);
    height: calc(var(--height) - var(--offset));
    page-break-after: always;
    border: 1px solid #fff;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      image-rendering: optimizeQuality;
    }

    .logo {
      position: absolute;
      top: calc(2cm);
      fill: white;
      left: 50%;
      transform: translateX(-50%);

      > div {
        width: 3cm;
        text-align: center;
        height: 3cm;
      }
    }

    section {
      color: #fff;
      padding: 0.635cm;
      max-width: 10.25cm;
      word-wrap: break-word;
      margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
      font-size: 13pt;

      > .title {
        font-size: 32pt;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 1em;
        color: #fff;
        string-set: title content(text);
      }

      > .version {
        line-height: 1;
        font-size: 10pt;
        font-family: monospace;
      }
    }
  }

  @page {
    @top-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: '{{ config.site_name }}' ' — ' string(title);
    }
  }

  @page :first {
    margin: 0;
    background: var(--md-primary-fg-color);

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>
<div class="front-cover">
  <img src="/assets/images/background.png">
  <div class="logo">
    <div>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.99.99 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.32.17.53.5.53.88zM12 4.15 6.04 7.5 12 10.85l5.96-3.35z"></path>
      </svg>
    </div>
  </div>
  <section>
    <div class="brand">{{ project_name }}</div>
    <div class="title">{{ page.title }}</div>
  </section>
</div>